<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.rasgir.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="رأس‌گیر چک"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- local content provider used only for ACTION_SEND (share sheet) -->
        <provider
            android:name=".prov.ShareProvider"
            android:authorities="ir.rasgir.app.share"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
